@model BookViewModel

@{
    ViewBag.Title = "Виж още информация за книгата.";
}

<h2 class="text-center">@ViewBag.Title</h2>

<partial name="_BookPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }