@model AddBookViewModel

@{
    ViewBag.Title = "Редактирай книга.";
}

<h2 class="text-center">@ViewBag.Title</h2

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<partial name="_BookPartialForm" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }

